.bars{
    -fx-background-color: #688EDE;
}

.health-bars{
    -fx-background-color: #086c34;
}

.sidebar{
    -fx-background-color: #f0a24f;
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-width: 4px;
    -fx-border-color: #68a0c8;
}

.image-buttons{
    -fx-background-color: transparent;
}

.buttons{
    -fx-background-color: transparent;
    -fx-background-color: #497FDF;
    -fx-background-radius: 0px;
}

.genBut{
    -fx-background-color: #086c34;
    -fx-background-radius: 0px;
}

.heBut{
    -fx-background-color: #55b0f8;
    -fx-background-radius: 0px;
}

.fuBut{
    -fx-background-color: #f19733;
    -fx-background-radius: 0px;
}

.fuBut-Hover{
    -fx-background-color: #a96a20;
    -fx-background-radius: 0px;
}
.heBut-Hover{
    -fx-background-color: #3772a1;
    -fx-background-radius: 0px;
}
.genBut-Hover{
    -fx-background-color: #054f25;
    -fx-background-radius: 0px;
}

.teBut-Hover{
    -fx-background-color: #3a65b0;
    -fx-background-radius: 0px;
}

.buttons-pressed{
    -fx-background-color: transparent;
    -fx-background-color: #587ab9;
    -fx-background-radius: 0px;
}

.genInfo-buttons{
    -fx-background-color: transparent;
    -fx-background-color: #688EDE;
    -fx-background-radius: 0px;
}

.healthState-buttons{
    -fx-background-color: transparent;
    -fx-background-color: #688EDE;
    -fx-background-radius: 0px;
}

.funcState-buttons{
    -fx-background-color: transparent;
    -fx-background-color: #688EDE;
    -fx-background-radius: 0px;
}

.main-pane{
    -fx-border-style: solid hidden hidden solid;
    -fx-border-width: 10px;
    -fx-border-color: #587ab9;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #688EDE;
    -fx-background-insets : 2.0, 0.0, 0.0;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#587ab9,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
}

.context-menu{
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}