.topbar{
    -fx-background-color: #68a0c8;
}

.sidebar{
    -fx-background-color: #f0a24f;
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-width: 4px;
    -fx-border-color: #68a0c8;
}

.icon{
    -fx-background-color: Black;
}

.topbar-buttons{
    -fx-background-color: transparent;
}

.main-pane{
    -fx-border-width: 10px;
    -fx-border-color: #68a0c8;
}

.text-field{
    -fx-border-color: #ec8b23;
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
}

.buttons{
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-border-radius: 5px;
    -fx-border-color: #68a0c8;
    -fx-background-color: #e1edf5;
}