.bars{
    -fx-background-color: #68a0c8;
}

.sidebar{
    -fx-background-color: #f0a24f;
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-width: 4px;
    -fx-border-color: #68a0c8;
}

.image-buttons{
    -fx-background-color: transparent;
}

.buttons{
    -fx-background-color: transparent;
    -fx-background-color: #86b3d3;
    -fx-background-radius: 0px;
}

.buttons-pressed{
    -fx-background-color: transparent;
    -fx-background-color: #6b8aa4;
    -fx-background-radius: 0px;
}

.genInfo-buttons{
    -fx-background-color: transparent;
    -fx-background-color: #86b3d3;
    -fx-background-radius: 0px;
}

.healthState-buttons{
    -fx-background-color: transparent;
    -fx-background-color: #86b3d3;
    -fx-background-radius: 0px;
}

.funcState-buttons{
    -fx-background-color: transparent;
    -fx-background-color: #86b3d3;
    -fx-background-radius: 0px;
}

.main-pane{
    -fx-border-style: solid hidden hidden solid;
    -fx-border-width: 10px;
    -fx-border-color: #5380a0;
}