.bars{
    -fx-background-color: #ff3336;
}

.image-buttons{
    -fx-background-color: transparent;
}

.buttons{
    -fx-background-color: transparent;
    -fx-background-color: #ff5c5e;
    -fx-background-radius: 0px;
}

.main-pane{
    -fx-border-style: solid hidden hidden solid;
    -fx-border-width: 10px;
    -fx-border-color: #Ff0004;
}